{% extends 'base.html' %}
    
{% block main %}
    <!-- main section-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Linkedin Downloader</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">this is a tool to download the videos, pictures, documents, etc of a <a
                            href="https://linkedin.com">Linkedin.com</a> post. just go on the post and click on
                        <b><i>share via</i></b> or <b><i>copy link to post</i></b> button and copy the post url and paste it here.</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form method="post">
                        <!-- URL input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="url" id="url" type="url" required placeholder="https://linkedin.com/"
                                data-sb-validations="required,url" />
                            <label for="url">Post URL</label>
                            <div class="invalid-feedback" data-sb-feedback="url:required">An URL is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="url:email">URL is not valid.</div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Get
                                Data</button></div>
                    </form>
                </div>
            </div>

        </div>
    </section>
{% endblock main %}
