<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Amir Aref" />
    <title>{% block title %}Linkedin api{% endblock title %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='assets/favicon.ico') }}" />
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="page-top">

    
{% block main %}

{% endblock main %}
    <!-- Footer-->
    <footer class="bg-light py-5">
        
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">Copyright &copy; 2023 - <a href="https://github.com/AmirAref">Amir
                    Aref</a></div>
        </div>
    </footer>

</body>

</html>